.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  color: indigo;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  position: relative;
  display: block;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: 200ms ease-in;
   border: 1px solid;
  border-color: #450bc3;
  border-radius: 8px;
  background-color: #e8e8f0;
}
.nav-link:hover,
.nav-link:focus {
  color: #5056cf;
  background-color: #acaed0;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}
